body {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

/*Header*/

body>header>h1 {
    text-align: center;
    color: #f2f2f2;
    position: relative;
    top: -10px;
}

body>header>img {
    position: relative;
    width: 70px;
    height: 50px;
    top: -75px;
}

body>header{
    background-color: #22465D;
    width: 100%;
    height: 60px;
    top: 0px;
    position: fixed;
    z-index: 2;
}

/*accueil*/

main{
    margin-top: 100px;
}

main>h1 {
    color: #f2f2f2;
    display: block;
    position: relative;
    text-align: center;
    z-index: -1;
    font-size: 40px;
}

main>h1>span {
    position: relative;
    top: 50px;
    margin-right: auto;
}

.carousel {
    text-align: center;
    margin: 50px;
    margin-top: 100px;
    z-index: -2;
}

elix-carousel>img {
    width: 120px;
    margin-top: 50px;
}


main>img {
    width: 350px;
    height: 300px;
    padding: 40px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.presentation>p {
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.presentation {
    background-color: #081B26;
    height: 70px;
    color: #F2F2F2;
    z-index: -2;
}


.intro {
    text-align: justify;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.histoire>li>a>img,.probleme>li>a>img,.solution>li>a>img{
    width: 150px;
}

.histoire>li,.probleme>li,.solution>li{
    list-style: none;
}

p>a {
    text-decoration:  none;
    color: black;
}

.histoire,.probleme,.solution{
    text-align: center;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(8,27,38,0.7);
}


.articles>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articles>h2 {
    text-align: center;
}

#fin {
    text-align: center;
    margin-top: 100px;
    display: block;
    position: relative;
    bottom: -70px;
}

.fin{
    width:90px;
    height:90px;
    background: #567D8C;
    opacity: 0.3;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.article1,.article2,.article3,.galerie,.propos,.autres,.index{
    background-image: url("../../img/pagesfond3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*.index{
    background-image: url("../../img/pagesfond3.png");
    background-repeat: no-repeat;
    background-position: center top;
}*/

.article1>p>strong>a,.article2>p>strong>a,.article3>p>strong>a{
    text-decoration: none;
    color: #567D8C;
}

.article1>p>strong>a:hover,.article2>p>strong>a:hover,.article3>p>strong>a:hover{
    background-color: #22465D;
}

#chapeau{
    font-style: italic;
    margin-bottom: 50px;
    text-align: justify;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



/*footer*/

footer {
    background-color: #22465D;
    color: #f2f2f2;
    font-size: 12px;
    margin-bottom: -50px;
}

.colonnes-footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.col {
    width: 33%;
}

.colonne1>img {
    width: 50px;
    float: left;
}

.colonne3>a>img {
    width: 50px;
}


.contact {
    text-align: center;
    margin: 20px;
}

footer>p {
    text-align: center;
}

footer>div>div>p>a{
    color: #f2f2f2;
}

footer>div>div>p>a:hover{
    background-color: gray;
}

/*Articles*/

.article1>h1, .article2>h1, .article3>h1 {
    text-align: center;
    padding: 50px;
}

.article1>figure>img, .article2>figure>img, .article3>figure>img {
    max-width: 300px;
    max-height: 230px;
}

.article1>figure, .article2>figure, .article3>figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 300px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.article1>p, .article2>p, .article3>p, h3{
    text-align: justify;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    hyphens: auto;
}

blockquote {
    border-left: black solid 2px;
    padding-left: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}



/* boutons */

.boutonA2,.boutonA3,.boutonfin{
    padding: 15px 25px;
    font-size: 10px;
    border-radius: 12px;
    text-transform: uppercase;
    color: #f2f2f2;
    background-color: #931506;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #222222;
    outline: none;
    margin-left: 110px;
    margin-bottom: 60px;
}

.boutonA3,.boutonfin{
    margin-left: 160px;
}


.bouton-accueil,.boutonA1,.boutonA23{
    padding: 15px 25px;
    font-size: 10px;
    border-radius: 12px;
    text-transform: uppercase;
    color: #f2f2f2;
    background-color: #931506;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #222222;
    outline: none;
    position: absolute;
}

.bouton-contact{
    padding: 15px 25px;
    font-size: 10px;
    border-radius: 12px;
    text-transform: uppercase;
    color: #f2f2f2;
    background-color: #931506;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #222222;
    outline: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}


.button-article1,.button-article2,.button-article3{
    text-align: center;
}


button>a{
    text-decoration: none;
    color: #f2f2f2;
}

button:hover{
    transform: translateY(3px);
    box-shadow: 0 6px #222222;
}

button:active{
    transform: translateY(7px);
    box-shadow: 0 2px #222222;
}

/*propos*/

.propos>main>img {
    /*width: 120px;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;*/
    width:300px;
    border-radius:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.propos>h1 {
    text-align: center;
}

.propos>p {
    margin: 20px;
}

/*Galerie*/

.galerie>h1 {
    text-align: center;
}

.galerie>ul>li>img {
    max-width: 100%;
    height: auto;
}

.galerie>ul {
    padding: 20px;
}

ul.carousel-items {
    list-style: none;
    padding: 1rem 0;
    background-color: #22465D;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-items {
    flex: 1 0 220px;
    margin-right: 2rem;
    scroll-snap-align: center;
}

::-webkit-scrollbar-track {
    background-color: #081B26;
}

::-webkit-scrollbar {
    height: 2px;
    background-color: #F2F2F2;
}

::-webkit-scrollbar-thumb {
    background-color: #931506;
}


.autres>h1{
    text-align: center;
    margin: 70px;
}

.projets{
    text-align: center;
}

.projets>img{
    margin-top: 50px;
    width: 150px;
}

.logo{
    margin-top: 50px;
}

/*Contact*/

.nom,.prenom,.e-mail{
    width: 200px;
    height: 20px;
    background-color: #707070;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;

}

.message{
    width: 300px;
    height: 300px;
    background-color: #707070;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact>p{
    display: block;

}







